#Main {
	margin : 20px 20px 20px 20px;
}

#FormDiv {
	font: bold 16px/28px Helvetica;
}

#TotalSalary {
	position : absolute;
	top : 5px;
	right : 5px;
	font: bold 26px/28px Helvetica;
	color : #F00;

}

#EmployeeList {
}

.Bold { font-weight : bold; }

.RemoveButton { }

#EmployeeTable {
		margin : 20px 20px 20px 20px;

}

.InputName {
	color : #00A;
}